extends layoutFO
block content
    h3(class='formTitle') List of all registerd Urban Farmers
    table(class='table')
        thead(class='thead-light')
            tr
                th Names
                th Urban Ward
                th Ufarm ID
                th Regsitration Date
                th Gender
                th Activities
                th Phone
                th Address
                th Username
                th Password
                th Update

        tbody
            if users.length
            each user in users
                tr
                    td #{user.name}
                    td #{user.selectWard}
                    td #{user.ufarmID}
                    td #{user.regDate}
                    td #{user.gender}
                    td #{user.activities}
                    td #{user.phone}
                    td #{user.address}
                    td #{user.username}
                    td #{user.password}
                    td
                        a(class='btn btn-outline-success btn-sm' href='/updateUF/'+user._id) Edit
                    td
                        //- form(method="post" action='/delete')
                        //-     input(type="hidden", placeholder="", name="id", value=user._id)
                        //-     button.btn.btn-dark.btn-block(type="submit") Delete  
            else
                p No registrations yet :(